name: Continous Integration

on:
  pull_request:
  push:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-D warnings"

jobs:
  check:
    strategy:
      matrix:
        os:
          - windows-latest
          - ubuntu-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust Toolchain
        run: rustup toolchain install --profile minimal

      - name: Use Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Check
        run: cargo check
